%h1 New Babysitter

- form_for(@changeset, babysitters_path(@conn, :create), fn f ->
  .form-group
    = text_input f, :name, placeholder: "Name", class: "form-control"
    = error_tag f, :name
  .form-group
    = text_input f, :phone_number, placeholder: "Phone Number", class: "form-control"
    = error_tag f, :phone_number

  = submit "Create Babysitter", class: "btn btn-primary"

